<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://kit.fontawesome.com/3477ae541c.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="img/favicon-01.png">
</head>
<body>
    <div class="sub_container">
    <div class="container">
        <div class="side">
            <img src="img/f-logo.png" alt="">
            <!--<p>Sign up to support your favorite creators</p>-->
        </div>
        <form action="" class="form">
            <h2>Log in</h2>
            <input type="email" name="email" class="box" placeholder="Enter Email">
            <input type="password" name="password" class="box" placeholder="Enter Password">
            <input type="submit" value="LOG IN" id="submit">
            <a href="#">Forgot Password? Sign up for XYZ</a>
            <i class="fa-brands fa-twitter"><a href="#">SIGN IN WITH TWITTER</a></i>
            <i class="fa-brands fa-google"><a href="#">SIGN IN WITH GOOGLE</a></i>
        </form>

    </div>
    </div>

</body>
</html>